root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true

[*.cs]
indent_size = 4

[*.{json,slnf}]
indent_size = 2

[*.{xml,csproj,config,targets,props,vsixmanifest}]
indent_size = 2
