*               text=auto
.gitattributes  text
.gitignore      text
.editorconfig   text
LICENSE         text
*.md            text diff=markdown
*.yml           text
*.json          text
*.sln           text
*.slnf          text
*.csproj        text
*.targets       text
*.props         text
*.config        text
*.vsixmanifest  text
*.cs            text diff=csharp
